# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# logs
*.log

# env variables
.env

# =====
TODO.txt
units.json
test.py